// Base
@use "./base/_base";
@use "./base/_reset";

// Layout
@use "./layout/_l-inner";
@use "./layout/_test";

// Project
@use "./project/_p-consult-faq";
@use "./project/_p-consult";
@use "./project/_p-header";
@use "./project/_p-mv";
@use "./project/_p-site";
@use "./project/_p-trouble";

// Component
@use "./component/_c-main-text";
@use "./component/_c-main-title";
