@use "../global" as *;

.p-consult-detail {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);

  }
}

.p-consult-detail__title {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: rem(24);
  line-height: 1.33;
  color: #00bb99;

  @include mq("md") {
    font-size: rem(48);
  }
}

.p-consult-detail__voices {
  margin-top: rem(32);

  @include mq("md") {
    max-width: rem(768);
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(64);
  }
}

.p-consult-detail__lead {
  margin: rem(16) 0 rem(10);
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.83;
  letter-spacing: 0.056em;
  color: #1a1919;

  @include mq("md") {
    font-size: rem(18);
  }
}

.p-consult-detail__voice-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: rem(10);
}

.p-consult-detail__voice-item {
  display: grid;
  grid-template-columns: rem(24) 1fr;
  gap: rem(10);
  align-items: start;
}

.p-consult-detail__voice-note {
  display: grid;
  grid-template-columns: rem(24) 1fr;
  gap: rem(10);
  align-items: start;
}

.p-consult-detail__check {
  color: #ff7600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(24);
  height: rem(24);
  margin-top: rem(3);
}

.p-consult-detail__check svg {
  width: rem(21);
  height: rem(21);
  display: block;
}

.p-consult-detail__voice-text {
  margin: 0;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 700;
  font-size: rem(16);
  line-height: 1.6;
  letter-spacing: 0.048em;
  color: #1a1919;

  @include mq("md") {
    font-size: rem(21);
  }
}

.p-consult-detail__desc {
  margin-top: rem(18);
  display: grid;
  gap: rem(16);
}

.p-consult-detail__text {
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.8;
  letter-spacing: 0.055em;
  color: #1a1919;

  @include mq("md") {
    font-size: rem(18);
  }
}
.p-consult-detail__text span {
  color: #ee5a24;
  font-weight: 700;
}
.p-consult-detail__point {
  position: relative;
  max-width: rem(768);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(24);
  @include mq(md){
    margin-top: rem(72);
    
  }
}

.p-consult-detail__point img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: rem(2);
}

.p-consult-detail__point-text {

  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: rem(18);
  line-height: 1.5;
  color: #00bb99;
  margin-top: rem(24);

  @include mq("md") {
    font-size: rem(28);
    margin-top: rem(32);
  }
}

.p-consult-detail__point-text span {
  display: block;
}

.p-consult-detail__point-cta {
  margin-top: rem(16);

  @include mq(md) {

    margin-top: rem(32);
  }
}

.p-consult-detail__table-title {
  margin-top: rem(32);
  text-align: center;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 700;
  font-size: rem(18);
  line-height: 1.65;
  color: #1a1919;

  @include mq("md") {
    font-size: rem(22);
    margin-top: rem(63);
  }
}

.p-consult-detail__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: rem(16);

  @include mq(md) {
    max-width: rem(768);
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(24);
  }
}

.p-consult-detail__caption {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.p-consult-detail__table th,
.p-consult-detail__table td {
  border-bottom: rem(1) solid #eeeeee;
  vertical-align: top;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: rem(13);
  line-height: 1.6;
  letter-spacing: 0.063em;
  color: #1a1919;
  padding: rem(8);
  @include mq("md") {
    padding: rem(14) rem(14);
    font-size: rem(16);
  }
}

.p-consult-detail__table th {
  background-color: #00bb99;
  color: $white;
  font-weight: 700;
  text-align: center;
  border-bottom-color: $white;
  width: rem(120);
  @include mq(md){
    width: rem(180);
    
  }
}

.p-consult-detail__table td {
  background-color: $white;
  font-weight: 500;
}

.p-consult-detail__note {
  display: inline-block;
  margin-top: rem(6);
  color: #666666;
  font-size: rem(12);
  letter-spacing: 0.083em;

  @include mq("md") {
    font-size: rem(12);
  }
}