@use "../global" as *;

.p-consult-faq {
  background-color: #faf3df;
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);

  }
}

.p-consult-faq__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: rem(24);
  line-height: 1.5;
  color: #1a1919;
  text-align: center;

  @include mq("md") {
    font-size: rem(36);
  }
}

.p-consult-faq__card {
  background-color: $white;
  border-radius: rem(2);
  box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.3);
  padding: rem(10);
  max-width: rem(680);
  margin-right: auto;
  margin-left: auto;
  margin-top: rem(24);
  @include mq(md){
    margin-top: rem(56);
    
  }
}

.p-consult-faq__card img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 660 / 440;
  object-fit: cover;
}

.p-consult-faq__list {
  max-width: rem(680);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(24);
  @include mq(md){
    margin-top: rem(32);
    
  }
}

.p-consult-faq__item {
  position: relative;
  padding-top: rem(10);
  padding-bottom: rem(10);
  padding-left: rem(24);
  
  @include mq("md") {
    padding-left: rem(32);
    padding-top: rem(12);
    padding-bottom: rem(12);
  }
}

.p-consult-faq__item-text {
  border-bottom: rem(1) dotted #666666;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 700;
  font-size: rem(16);
  line-height: 1.6;
  letter-spacing: 0.047em;
  color: #1a1919;

  @include mq(md) {
    font-size: rem(21);

  }
}

.p-consult-faq__item-text span {
  color: #ee5a24;
}

.p-consult-faq__item::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(../images/common/faq_circle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: rem(16);
  height: rem(16);
  top: rem(16);
  @include mq(md){
    top: rem(18);
    width: rem(21);
    height: rem(21);
    
  }
}

.p-consult-faq__item:last-child {
  border-bottom: none;
}