@use "../global" as *;

.p-consult {
  padding-top: rem(56);
  padding-bottom: rem(72);
}

.p-consult .l-inner {

  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    max-width: rem(851);
  }
}

.p-consult__head-box {
  display: flex;
  align-items: center;
  
}
.p-consult__head {
  text-align: center;
  margin-bottom: rem(22);

  @include mq("md") {
    text-align: left;
    margin-bottom: rem(26);
  }
}

.p-consult__title {
  color: #1a1919;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.p-consult__title-top {
  display: block;
  font-size: rem(22);
  line-height: 1.06;
  letter-spacing: 0.028em;
  margin-bottom: rem(10);

  @include mq("md") {
    font-size: rem(36);
  }
}

.p-consult__title-row {
  display: flex;
  align-items: baseline;
  gap: rem(6);
}

.p-consult__title-main {
  color: #00bb99;
  font-size: rem(44);
  line-height: 0.9;
  letter-spacing: 0.014em;

  @include mq("md") {
    font-size: rem(72);
  }
}

.p-consult__title-sub {
  font-size: rem(22);
  line-height: 1.06;
  letter-spacing: -0.055em;

  @include mq("md") {
    font-size: rem(36);
  }
}

.p-consult__body {
  display: grid;
  gap: rem(18);
}

.p-consult__text {
  margin: 0;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.8;
  letter-spacing: 0.055em;
  color: #1a1919;

  @include mq("md") {
    font-size: rem(18);
  }
}

.p-consult__figure {
  width: 100%;
  
  @include mq("md") {
    max-width: rem(305);
    min-width: rem(305);
    margin-left: auto;
    margin-left: rem(-40);
  }
}

.p-consult__figure img {
  width: 100%;
  height: auto;
  display: block;
}