@use "../global" as *;

.p-footer {
  background-color: #111111;
  color: $white;
}

.p-footer__inner {
  min-height: rem(204);
  display: grid;
  place-content: center;
  gap: rem(8);
  padding-top: rem(40);
  padding-bottom: rem(40);
}

.p-footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: rem(6);
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: rem(12);
  line-height: 2.4;
}

.p-footer__link {
  color: $white;
  text-decoration: none;
}

.p-footer__link:hover {
  text-decoration: underline;
}

.p-footer__copy {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: rem(12);
  line-height: 2.4;
}
