@use "../global" as *;

.p-flow {
  background-color: #edf4f2;
  padding-top: rem(40);

  @include mq(md) {
    padding-top: rem(100);

  }
}

.p-flow__title {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: rem(24);
  line-height: 1.4;
  color: #117766;

  @include mq("md") {
    font-size: rem(36);
  }
}

.p-flow__separator {
  display: block;
  width: rem(30);
  height: rem(5);
  background-color: #117766;
  margin-right: auto;
  margin-left: auto;
  margin-top: rem(16);
  @include mq(md){
    margin-top: rem(36);
    
  }
}

.p-flow__lead {
  text-align: center;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  font-size: rem(14);
  line-height: 1.8;
  letter-spacing: 0.055em;
  color: #1a1919;
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(36);
    font-size: rem(18);
  }
}

.p-flow__list {
  display: grid;
  gap: rem(32);
  margin-top: rem(24);

  @include mq(md) {
    gap: rem(72);
    margin-top: rem(32);

  }
}

.p-flow__item-head {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: rem(8);
}

.p-flow__badge {
  width: rem(34);
  height: rem(34);
  border-radius: rem(17.1);
  background-color: #117766;
  color: $white;
  display: grid;
  place-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: rem(21);
  line-height: 1;
}

.p-flow__item-title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: rem(18);
  line-height: 1.5;
  color: #117766;

  @include mq("md") {
    font-size: rem(28);
  }
}

.p-flow__item-note {
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.8;
  letter-spacing: 0.055em;
  text-align: center;
  color: #1a1919;

  @include mq("md") {
    margin-top: rem(20);
    font-size: rem(18);
  }
}

.p-flow__item-attention {
  text-align: center;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 700;
  font-size: rem(14);
  line-height: 1.42;
  letter-spacing: 0.056em;
  color: #ee5a24;
  margin-top: rem(12);

  @include mq("md") {
    margin-top: rem(16);
    font-size: rem(18);
  }
}

.p-flow__image {
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(20);
  max-width: rem(680);
}

.p-flow__image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: rem(10);
}

.p-flow__desc {
  display: grid;
  gap: rem(12);
  margin-top: rem(20);
  @include mq(md){
    margin-top: rem(32);
  }
}

.p-flow__text {
  text-align: center;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  font-size: rem(14);
  line-height: 1.8;
  letter-spacing: 0.055em;
  color: #1a1919;

  @include mq("md") {
    font-size: rem(18);
  }
}
.p-flow__text + .p-flow__text {
  margin-top: rem(16);
  @include mq(md){
    margin-top: rem(36);
  }
}
.p-flow__tel {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: rem(24);
  line-height: 1.4;
  color: #000000;
  margin-top: rem(20);

  @include mq("md") {
    margin-top: rem(32);
    font-size: rem(40);
  }
}

.p-flow__tel span {
  font-size: rem(14);

  @include mq(md) {
    font-size: rem(24);

  }
}

.p-flow__cta {
  margin-top: rem(40);
}