@use "../global" as *;

.p-mv {
  background: linear-gradient(to right, #1D9B93 0%, #00BB99 100%);
  overflow-x: clip;
  padding-top: rem(40);

  @include mq(md) {
    padding-top: rem(64);

  }
}

.p-mv__inner {
  max-width: rem(1280);
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
}

.p-mv__content {
  @include mq(md) {
    display: flex;
    align-items: flex-end;

  }
}

.p-mv__left {
  @include mq(md) {
    max-width: rem(848);
    padding-bottom: rem(64);

  }
}

.p-mv__lead {
  font-weight: 700;
  color: #fff;
  font-size: rem(20);
  line-height: 1.6;

  @include mq(md) {
    line-height: calc(54 / 38);

    font-size: rem(38);
  }
}

.p-mv__title {
  font-weight: 700;
  color: #fff;
  font-size: rem(40);
  margin-top: rem(16);

  @include mq(md) {
    font-size: rem(86);
    margin-top: initial;
    display: flex;
    align-items: center;

  }
}

.p-mv__title-img {
  @include mq(md) {
    max-width: rem(493);

  }
}

.p-mv__title-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-mv__box {}

.p-mv__box-img {
  max-width: rem(848);
  margin-top: rem(24);
}

.p-mv__box-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}



.p-mv__bottom-text {
  color: #fff;
  line-height: calc(55 / 38);
  font-weight: 700;
  font-size: rem(20);
  margin-top: rem(16);

  @include mq(md) {
    font-size: rem(36);
    margin-top: rem(24);

  }
}

.p-mv__img {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: 100vw;

  @include mq(md) {
    width: 37vw;
    margin-left: rem(-40);

  }

  @include mq(lg) {
    margin-top: rem(64);
    margin-left: initial;
    width: 40vw;
  }
}

.p-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-mv__copy-box {
  background-color: #005852;
  padding-top: rem(24);
  padding-bottom: rem(32);

  @include mq(md) {
    padding-top: rem(46);
    padding-bottom: rem(66);

  }
}

.p-mv__copy {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(6);
  margin-top: 0;
  margin-bottom: rem(12);
}

.p-mv__copy-mark {
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: rem(20);

  @include mq(md) {
    font-size: rem(24);

  }
}

.p-mv__copy-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.02em;
  font-size: rem(20);

  @include mq(md) {
    font-size: rem(29);

  }
}

.p-mv__cta {
  background-color: #ff7600;
  border-radius: 9999px;
  box-shadow: 0 rem(3) 0 #d96500;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(12);
  width: 100%;
  max-width: rem(640);
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease;
  padding: rem(8) rem(16);
  min-height: rem(56);
  
  @include mq("md") {
    min-height: rem(106);
    padding: rem(18) rem(20);
    gap: rem(16);
  }
}

.p-mv__cta:hover {
  filter: brightness(1.03);
}

.p-mv__cta:active {
  transform: translateY(rem(2));
  box-shadow: 0 rem(1) 0 #d96500;
}

.p-mv__cta-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.p-mv__cta-icon svg {
  display: block;
  width: rem(24);
  height: rem(24);

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.p-mv__cta-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: rem(20);
  line-height: 1;
  text-align: center;

  @include mq("md") {
    font-size: rem(32);
  }
}