@use "../global" as *;

.p-trouble {
  padding-top: rem(40);
  padding-bottom: rem(24);
  @include mq("md"){
    padding-top: rem(54);
    padding-bottom: rem(72);
    
  }
}

.p-trouble__head {
  text-align: center;
  margin-bottom: rem(24);
  @include mq(md){
    margin-bottom: rem(32);
    
  }
}


.p-trouble__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  color: #00bb99;
  font-size: rem(24);
  line-height: 1.33;
  margin-bottom: rem(0);

  @include mq("md") {
    font-size: rem(48);
  }
}

.p-trouble__underline {
  width: 100%;
  max-width: rem(463);
  height: rem(5);
  background-color: #f9f245;
  border-radius: rem(999);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: rem(28);
  transition: 0.3s ease-in-out;
}

.p-trouble__lead {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: rem(16);
  line-height: 1.37;
  letter-spacing: 0.035em;
  color: #1a1919;
  margin: 0;

  @include mq("md") {
    font-size: rem(28);
  }
}

.p-trouble__body {
  display: grid;
  gap: rem(24);
  align-items: start;
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    grid-template-columns: rem(305) 1fr;
    gap: rem(24);
    align-items: center;
    max-width: rem(906);
  }
}

.p-trouble__figure {
  width: 100%;
  max-width: rem(200);
  margin-right: auto;
  margin-left: auto;
  @include mq(md){
    
    max-width: rem(305);
  }
}

.p-trouble__figure img {
  width: 100%;
  height: auto;
  display: block;
}

.p-trouble__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-trouble__item {
  display: flex;
  align-items: flex-start;
  gap: rem(14);
  padding-top: rem(10);
  padding-bottom: rem(10);
  border-bottom: rem(2) dashed #a9a9a9;

  @include mq("md") {
    gap: rem(18);
    padding-top: rem(12);
    padding-bottom: rem(12);
  }
}

.p-trouble__icon {
  flex: 0 0 auto;
  width: rem(24);
  height: rem(24);
  margin-top: rem(2);

  @include mq("md") {
    width: rem(40);
    height: rem(36);
  }
}

.p-trouble__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: rem(18);
  line-height: 1.5;
  color: #1a1919;

  @include mq("md") {
    font-size: rem(26);
  }
}

.p-trouble__text span {
  color: #ee5a24;
}

.p-trouble__arrow {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(80);
  width: 100%;
  margin-top: rem(20);
  @include mq("md") {
    max-width: rem(160);
    margin-top: rem(40);

  }
}

.p-trouble__arrow img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;

}