@use "../global" as *;

.p-trouble {
  padding-top: rem(54);
  padding-bottom: rem(72);
}

.p-trouble__head {
  text-align: center;
  margin-bottom: rem(32);
}

.p-trouble__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  color: #00bb99;
  font-size: rem(28);
  line-height: 1.33;
  margin-top: 0;
  margin-bottom: rem(12);
  @include mq("md") {
    font-size: rem(48);
  }
}

.p-trouble__underline {
  width: 100%;
  max-width: rem(463);
  height: rem(5);
  background-color: #f9f245;
  border-radius: rem(999);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: rem(28);
}

.p-trouble__lead {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: rem(16);
  line-height: 1.37;
  letter-spacing: 0.035em;
  color: #1a1919;
  margin: 0;
  @include mq("md") {
    font-size: rem(28);
  }
}

.p-trouble__body {
  display: grid;
  gap: rem(24);
  align-items: start;
  @include mq("md") {
    grid-template-columns: rem(305) 1fr;
    gap: rem(40);
    align-items: center;
  }
}

.p-trouble__figure {
  width: 100%;
  max-width: rem(305);
  margin: 0 auto;
  @include mq("md") {
    margin: 0;
  }
}

.p-trouble__figure img {
  width: 100%;
  height: auto;
  display: block;
}

.p-trouble__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-trouble__item {
  display: flex;
  align-items: flex-start;
  gap: rem(14);
  padding-top: rem(18);
  padding-bottom: rem(18);
  border-bottom: rem(2) dashed #a9a9a9;
  @include mq("md") {
    gap: rem(18);
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
}

.p-trouble__item:last-child {
  border-bottom: none;
}

.p-trouble__icon {
  flex: 0 0 auto;
  width: rem(36);
  height: rem(36);
  margin-top: rem(2);
  @include mq("md") {
    width: rem(40);
    height: rem(36);
  }
}

.p-trouble__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: rem(18);
  line-height: 1.5;
  color: #1a1919;
  margin: 0;
  @include mq("md") {
    font-size: rem(26);
  }
}
